body{
    background-color: lightgrey;
    background-image: url("/assets/images/01-02-02_background-img.jpg");
}

p {
    font-weight: bold;
}

.text-center {
    text-align: center;
}
h2 {
    color: orangered;
}

